# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
.idea
env/
venv/
ENV/
env.bak/
venv.bak/

# generated contents
data_bank/captured_images/
data_bank/trainer/


